<%- model_class = Map -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= search_form_for @q do |f| %>
  <%= f.label :mtime_gteq %>
  <%= f.search_field :mtime_gteq %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:path) %></th>
      <th><%= model_class.human_attribute_name(:area_id) %></th>
      <th><%= model_class.human_attribute_name(:image_file_name) %></th>
      <th><%= model_class.human_attribute_name(:image_content_type) %></th>
      <th><%= model_class.human_attribute_name(:image_file_size) %></th>
      <th><%= model_class.human_attribute_name(:image_updated_at) %></th>
      <th><%= model_class.human_attribute_name(:mtime) %></th>
      <th><%= model_class.human_attribute_name(:ctime) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @maps.each do |map| %>
      <tr>
        <td><%= link_to map.id, map_path(map) %></td>
        <td><%= map.path %></td>
        <td><%= map.area_id %></td>
        <td><%= map.image_file_name %></td>
        <td><%= map.image_content_type %></td>
        <td><%= map.image_file_size %></td>
        <td><%= map.image_updated_at %></td>
        <td><%= map.mtime %></td>
        <td><%= map.ctime %></td>
        <td><%=l map.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_map_path(map), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      map_path(map),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_map_path,
            :class => 'btn btn-primary' %>
