<%- model_class = Map -%>
<div class="page-header">
  <h1><%= "#{@map.area.try(:name)} #{@map.element_name}" %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Session:</strong></dt>
  <dd><%= link_to("go", Settings.session_at_path(@map.mtime)) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:path) %>:</strong></dt>
  <dd><%= @map.path %></dd>
  <dt><strong>Last modified at:</strong></dt>
  <dd><%= @map.mtime %></dd>
</dl>

<p>
  <%= image_tag @map.image.url(:medium) %>
</p>

<%= link_to t('.back', :default => t("helpers.links.back")),
              area_path(@map.area), :class => 'btn btn-default'  %>
