<%- model_class = Area -%>
<div class="page-header">
  <h1>Map Analysis</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @area.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:path) %>:</strong></dt>
  <dd><%= @area.path %></dd>
  <dt>file-size</dt>
  <dd><%= link_to(number_to_human_size(@area.zip.size), @area.zip.url) if @area.zip.path %></dd>
  <dt>center</dt>  
  <dd><%= @area.center_x && @area.center_y ? "( #{sprintf("%.1f", @area.center_x)}, #{sprintf("%.1f", @area.center_y)} )" : '' %></dd>
  <dt>steps</dt>  
  <dd><%= @area.pixels_x && @area.pixels_y ? "( #{sprintf("%.d", @area.pixels_x)}, #{sprintf("%.d", @area.pixels_y)} )" : '' %></dd>

  <dt>magnification</dt>  
  <dd><%= @area.magnification ? sprintf("%.0f", @area.magnification) : '' %></dd>
</dl>

<div class="row">
<%= raw map_tile_for(@area) %>
</div>

<%= link_to t('.back', :default => t("helpers.links.back")),
              areas_path, :class => 'btn btn-default'  %>

